{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SCU Admin | 東吳課務小幫手</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

    <link href="{% static 'https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800' %}"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/icon-kit/dist/css/iconkit.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/ionicons/dist/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet"
        href="{% static 'plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/weather-icons/css/weather-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/c3/c3.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl.carousel/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/theme.min.css' %}">
    <script src="{% static 'src/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <div class="wrapper">
        <header class="header-top" header-theme="light">
            <div class="container-fluid">
                <div class="d-flex justify-content-between">
                    <div class="top-menu d-flex align-items-center">
                        <button type="button" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></button>
                        <div class="header-search">
                            <div class="input-group">
                                <span class="input-group-addon search-close"><i class="ik ik-x"></i></span>
                                <input type="text" class="form-control">
                                <span class="input-group-addon search-btn"><i class="ik ik-search"></i></span>
                            </div>
                        </div>
                        <button type="button" id="navbar-fullscreen" class="nav-link"><i
                                class="ik ik-maximize"></i></button>
                    </div>
                    <div class="top-menu d-flex align-items-center">
                        <button type="button" class="nav-link ml-10" id="apps_modal_btn" data-toggle="modal"
                            data-target="#appsModal"><i class="ik ik-grid"></i></button>
                    </div>
                </div>
            </div>
        </header>

        <div class="page-wrap">
            <div class="app-sidebar colored">
                <div class="sidebar-header">
                    <a class="header-brand" href="index.html">
                        {% comment %} <div class="logo-img">
                            <img src="{% static 'src/img/brand-white.svg' %}" class="header-brand-img" alt="lavalite">
                        </div> {% endcomment %}
                        <span class="text">SCU Admin</span>
                    </a>
                    <button type="button" class="nav-toggle"><i data-toggle="expanded"
                            class="ik ik-toggle-right toggle-icon"></i></button>
                    <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
                </div>

                <div class="sidebar-content">
                    <div class="nav-container">
                        <nav id="main-menu-navigation" class="navigation-main">
                            <div class="nav-lavel">Navigation</div>
                            <div class="nav-item">
                                <a href="{% url 'home' %}"><i class="ik ik-bar-chart-2"></i><span>個人資料</span></a>
                            </div>
                            <div class="nav-item active">
                                <a href="{% url 'schedule' %}"><i class="ik ik-menu"></i><span>課表匯出</span></a>
                            </div>
                            
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Content -->
            <div class="main-content">
                <div class="container-fluid">
                    <h5 class="mb-4">課表模板選擇</h5>
                    <div class="row mb-4">
                        <div class="col-md-12 mb-4 pl-0 pr-12">
                            <div class="owl-container">
                                <div class="owl-carousel single">
                                    <div class="card d-flex flex-row text-center">
                                                    <img  alt=" Thumbnail" src="{% static 'img/test.jpg' %}"
                                        style="display:block;width:50%;margin-left: auto;margin-right: auto;"
                                        class="align-self-center responsive d-flex justify-content-center">
                                        <div class="card-header">
                                            <a href="{% static 'img/test.jpg' %}" download>
                                                <button type="button" class="btn btn-info" ><i class="ik ik-share"></i>Download</button>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card d-flex flex-row">
                                        <img alt="Thumbnail" src="{% static 'img/test2.jpg' %}"
                                            style="display:block;width:50%;margin-left: auto;margin-right: auto;"
                                            class="align-self-center responsive d-flex justify-content-center">
                                        <div class="card-header">
                                            <a href="{% static 'img/test2.jpg' %}" download>
                                                <button type="button" class="btn btn-info"><i class="ik ik-share"></i>Download</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-nav text-center">
                                    <a href="#" class="left-arrow owl-prev">
                                        <i class="ik ik-chevron-left"></i>
                                    </a>
                                    <div class="slider-dot-container"></div>
                                    <a href="#" class="right-arrow owl-next">
                                        <i class="ik ik-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>




    <div class="modal fade apps-modal" id="appsModal" tabindex="-1" role="dialog" aria-labelledby="appsModalLabel"
        aria-hidden="true" data-backdrop="false">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                class="ik ik-x-circle"></i></button>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="quick-search">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 ml-auto mr-auto">
                                <div class="input-wrap">
                                    <input type="text" id="quick-search" class="form-control" placeholder="Search..." />
                                    <i class="ik ik-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="s{% static 'rc / js / vendor / jquery - 3.3.1.min.js' %}"><\/script>')</script>
    <script src="{% static 'plugins/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'plugins/screenfull/dist/screenfull.js' %}"></script>
    <script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'plugins/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'plugins/moment/moment.js' %}"></script>
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'plugins/d3/dist/d3.min.js' %}"></script>
    <script src="{% static 'plugins/c3/c3.min.js' %}"></script>
    <script src="{% static 'js/tables.js' %}"></script>
    <script src="{% static 'js/widgets.js' %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
    <script src="{% static 'dist/js/theme.min.js' %}"></script>
    <script src="{% static 'plugins/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>


</body>

</html>